<h2><%= l(:label_edit_status) %></h2>

<%= form_for @status do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="pr-form-actions">
    <%= f.submit l(:button_update), class: 'pr-button pr-button-primary' %>
    <%= link_to l(:button_cancel), purchase_request_statuses_path, class: 'pr-button pr-button-cancel' %>
  </div>
<% end %>

<%= link_to purchase_request_statuses_path, class: 'pr-button-icon pr-button pr-button-secondary small' do %>
  <span class="icon icon-back"><%= l(:button_back) %></span> 
<% end %>