<div class="contextual">
  <%= link_to new_purchase_request_status_path, class: 'pr-button pr-button-primary pr-button-icon' do %>
    <span class="icon icon-add"></span> <%= l(:label_status_new) %>
  <% end %>
</div>

<h2><%= l(:label_purchase_request_statuses) %></h2>

<table class="list" style="width: 100%; max-width: 800px;">
  <thead>
    <tr>
      <th style="width: 30%"><%= l(:field_name) %></th>
      <th style="width: 10%"><%= l(:field_position) %></th>
      <th style="width: 15%"><%= l(:field_is_closed) %></th>
      <th style="width: 15%"><%= l(:label_status_color) %></th>
      <th style="width: 15%"><%= l(:label_status_is_default) %></th>
      <th style="width: 15%"></th>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.position %></td>
        <td><%= checked_image status.is_closed? if status.respond_to?(:is_closed?) %></td>
        <td style="text-align: center;">
          <span class="color-preview" style="display: inline-block; background-color: <%= status.color.presence || '#777777' %>; width: 25px; height: 25px; vertical-align: middle; border-radius: 4px;"></span>
          <span><%= status.color.presence || '#777777' %></span>
        </td>
        <td><%= checked_image status.is_default? if status.respond_to?(:is_default?) %></td>
        <td class="buttons">
          <%= link_to edit_purchase_request_status_path(status), class: 'pr-button pr-button-secondary pr-button-icon small' do %>
            <span class="icon icon-edit"></span> <%= l(:button_edit) %>
          <% end %>
          <%= link_to purchase_request_status_path(status), 
                    method: :delete,
                    data: { confirm: l(:text_are_you_sure) },
                    class: 'pr-button pr-button-danger pr-button-icon small' do %>
            <span class="icon icon-del"></span> <%= l(:button_delete) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to plugin_settings_path('redmine_purchase_requests'), class: 'pr-button pr-button-cancel pr-button-icon small' do %>
  <span class="icon icon-back"></span> <%= l(:button_back) %>
<% end %>

<style>
  table.list th, table.list td {
    padding: 8px;
  }
  .color-preview {
    border: 1px solid #ddd;
  }
</style>