<h2><%= l(:label_new_status) %></h2>

<%= form_for @status, url: purchase_request_statuses_path do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="pr-form-actions">
    <%= f.submit l(:button_create), class: 'pr-button pr-button-primary' %>
    <%= link_to l(:button_cancel), plugin_settings_path('redmine_purchase_requests', tab: 'statuses'), class: 'pr-button pr-button-cancel' %>
  </div>
<% end %>

<%= link_to l(:button_back), purchase_request_statuses_path, class: 'pr-button-icon pr-button pr-button-secondary small' do %>
  <span class="icon icon-back"></span> <%= l(:button_back) %>
<% end %>