<% html_title l(:label_new_purchase_request) %>

<div class="contextual">
  <%= link_to l(:button_back), purchase_requests_path, class: 'icon icon-back' %>
</div>

<h2><%= l(:label_new_purchase_request) %></h2>

<div class="box">
  <div class="purchase-request-form">
    <%= form_with(model: @purchase_request, local: true, multipart: true, id: 'purchase-request-form') do |form| %>
      <% if @purchase_request.errors.any? %>
        <div id="error_explanation" class="flash error">
          <h3><%= l(:label_form_contains_errors, count: @purchase_request.errors.count) %></h3>
          <ul>
            <% @purchase_request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="box tabular">
        <p>
          <%= form.label :title, l(:field_title), class: 'required' %> <span class="required">*</span>
          <%= form.text_field :title, required: true, size: 60, maxlength: 255 %>
          <em class="info"><%= l(:text_purchase_title_info) %></em>
        </p>
        
        <p>
          <%= form.label :description, l(:field_description) %>
          <%= form.text_area :description, rows: 6, cols: 60, class: 'wiki-edit' %>
          <em class="info"><%= l(:text_purchase_description_info) %></em>
        </p>
        
        <% if @purchase_request.new_record? && PurchaseRequestStatus.count > 0 %>
          <p>
            <%= form.label :status_id, l(:field_status) %> <span class="required">*</span>
            <%= form.collection_select :status_id, PurchaseRequestStatus.sorted, :id, :name, 
                                     { selected: PurchaseRequestStatus.default&.id || PurchaseRequestStatus.first&.id },
                                     { required: true } %>
          </p>
        <% end %>
        
        <p>
          <%= form.label :product_url, l(:field_product_url) %>
          <%= form.text_field :product_url, size: 60 %>
          <em class="info"><%= l(:text_product_url_info) %> <%= l(:text_optional) %></em>
        </p>
        
        <p>
          <%= form.label :estimated_price, l(:field_estimated_price) %>
          <span class="currency-wrapper">
            <span class="currency-symbol">$</span>
            <%= form.number_field :estimated_price, min: 0, step: '0.01', class: 'currency-field' %>
          </span>
          <em class="info"><%= l(:text_estimated_price_info) %></em>
        </p>
        
        <p>
          <%= form.label :vendor, l(:field_vendor) %>
          <%= form.text_field :vendor, size: 40 %>
          <em class="info"><%= l(:text_vendor_info) %></em>
        </p>
        
        <p>
          <%= form.label :priority, l(:field_priority) %>
          <%= form.select :priority, 
                       [[l(:label_priority_low), 'low'], 
                        [l(:label_priority_normal), 'normal'], 
                        [l(:label_priority_high), 'high'], 
                        [l(:label_priority_urgent), 'urgent']], 
                       { selected: 'normal' } %>
        </p>
        
        <p>
          <%= form.label :due_date, l(:field_due_date) %>
          <%= form.date_field :due_date %>
          <em class="info"><%= l(:text_due_date_info) %></em>
        </p>
        
        <p>
          <%= form.label :attachment, l(:label_attachment_plural) %>
          <%= form.file_field :attachments, multiple: true, class: 'attachments-field' %>
          <em class="info"><%= l(:text_attachment_info) %></em>
        </p>
        
        <p>
          <%= form.check_box :notify_manager %>
          <%= form.label :notify_manager, l(:field_notify_manager) %>
          <em class="info"><%= l(:text_notify_manager_info) %></em>
        </p>
      </div>
      
      <fieldset class="box">
        <legend><%= l(:label_additional_notes) %></legend>
        <p>
          <%= form.text_area :notes, rows: 4, cols: 60, placeholder: l(:text_additional_notes_placeholder) %>
        </p>
      </fieldset>
      
      <div class="form-actions">
        <%= form.submit l(:button_create), class: 'button-positive' %>
        <%= link_to l(:button_cancel), purchase_requests_path, class: 'button-negative' %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'purchase_requests', plugin: 'redmine_purchase_requests' %>
  <%= javascript_include_tag 'purchase_requests', plugin: 'redmine_purchase_requests' %>
  <style>
    .currency-wrapper {
      position: relative;
      display: inline-block;
    }
    
    .currency-symbol {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #666;
    }
    
    .currency-field {
      padding-left: 25px;
    }
    
    .purchase-request-form .required {
      color: #d00;
      font-weight: bold;
    }
    
    .form-actions {
      margin-top: 20px;
      padding-top: 15px;
      border-top: 1px solid #eee;
    }
    
    .button-positive {
      background-color: #4CAF50;
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-weight: bold;
    }
    
    .button-positive:hover {
      background-color: #45a049;
    }
    
    .button-negative {
      background-color: #f44336;
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-left: 10px;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
    }
    
    .button-negative:hover {
      background-color: #da190b;
    }
    
    .info {
      display: block;
      color: #888;
      font-size: 0.9em;
      margin-top: 2px;
    }
    
    .box.tabular p {
      padding: 5px 0;
      margin-bottom: 8px;
    }
  </style>
<% end %>

<%= javascript_tag do %>
$(document).ready(function() {
  // Initialize any JS-based controls
  $('#purchase_request_description').addClass('wiki-edit');
  
  // Show confirmation if user attempts to leave page with unsaved changes
  var formChanged = false;
  
  $('#purchase-request-form input, #purchase-request-form textarea, #purchase-request-form select').change(function() {
    formChanged = true;
  });
  
  $(window).on('beforeunload', function() {
    if (formChanged) {
      return '<%= l(:text_unsaved_changes_confirmation) %>';
    }
  });
  
  // Submit button disables form changed flag
  $('#purchase-request-form input[type="submit"]').click(function() {
    formChanged = false;
  });
});
<% end %>