<h3><%= l(:label_vendor_settings) %></h3>

<p>
  <label><%= l(:label_allow_custom_vendors) %></label>
  <%= check_box_tag 'settings[allow_custom_vendors]', '1', @settings['allow_custom_vendors'] == '1' %>
  <em class="info"><%= l(:text_allow_custom_vendors_info) %></em>
</p>

<div class="box">
  <p>
    <%= l(:text_vendor_database_info) %>
  </p>
  
  <div class="vendor-management-actions">    
      <%= link_to vendors_path, class: 'pr-button pr-button-secondary pr-button-icon' do %>
        <span class="icon icon-edit"><%= l(:label_global_vendor_settings) %></span> 
      <% end %>
      
  </div>
</div>

<p class="info-message">
      <strong><%= l(:label_notice) %>:</strong> <%= l(:text_vendor_management_moved_to_project) %>
</p>

 <% if Setting.plugin_redmine_purchase_requests['vendors'].is_a?(Array) && Setting.plugin_redmine_purchase_requests['vendors'].any? %>
      <%= form_tag({controller: 'vendors', action: 'migrate_from_settings'}, {method: :post, class: 'migration-form'}) do %>
        <%= button_tag type: 'submit', class: 'pr-button pr-button-primary pr-button-icon' do %>
          <span class="icon icon-import"> <%= l(:button_migrate_vendors) rescue 'Migrate Vendors' %></span>
        <% end %>
      <% end %>
    <% end %>

<style>
  .info-message {
    margin: 15px 0;
    padding: 10px;
    background-color: #fff8e1;
    border-left: 3px solid #ffca28;
    border-radius: 3px;
    padding-left : 10 !important;
  }
  
  .vendor-management-actions {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    padding-left: 10 !important;
  }
  
  .migration-form {
    display: inline;
  }
  
  .box {
    padding-left: 10 !important;
  }
</style>
