<%# filepath: /opt/redmine/plugins/redmine_purchase_requests/app/views/vendors/edit.html.erb %>
<% html_title l(:label_vendor_edit) %>

<h2><%= l(:label_vendor_edit) %></h2>

<%= form_with(model: @vendor, local: true) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  
  <p>
    <%= f.submit l(:button_save) %>
    <%= link_to l(:button_cancel), vendors_path %>
  </p>
<% end %>
