<%# filepath: /opt/redmine/plugins/redmine_purchase_requests/app/views/vendors/edit.html.erb %>
<% html_title l(:label_vendor_edit) %>

<h2><%= l(:label_vendor_edit) %></h2>

<%= form_with(model: @vendor, local: true) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  
  <div class="pr-form-actions">
    <%= f.submit l(:button_save), class: 'pr-button pr-button-primary' %>
    <%= link_to l(:button_cancel), vendors_path, class: 'pr-button pr-button-cancel' %>
  </div>
<% end %>
