<%# filepath: /opt/redmine/plugins/redmine_purchase_requests/app/views/vendors/index.html.erb %>
<% html_title l(:label_global_vendor_settings) %>

<div class="contextual">
  <%= link_to new_vendor_path, class: 'pr-button pr-button-primary pr-button-icon' do %>
    <span class="icon icon-add"></span> <%= l(:label_vendor_new) %>
  <% end %>
</div>

<h2><%= l(:label_global_vendor_settings) %></h2>

<div class="box">
  <p><%= l(:text_global_vendor_management_info) %></p>
  <p class="info-message">
    <strong><%= l(:label_notice) %>:</strong> <%= l(:text_vendor_management_moved_to_project) %>
  </p>
</div>

<div class="vendor-search-form">
  <%= form_tag vendors_path, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: l(:label_vendor_search), class: 'vendor-search-input' %>
      <%= submit_tag l(:button_apply), class: 'button-small' %>
      <% if params[:search].present? %>
        <%= link_to l(:button_clear), vendors_path, class: 'button-small' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'vendors/vendor_list', locals: { 
  vendors: @vendors, 
  admin_actions: true,
  empty_message: params[:search].present? ? l(:label_no_vendors_found) : l(:label_no_data)
} %>

<% content_for :sidebar do %>
  <h3><%= l(:label_vendor_management) %></h3>
  <p><%= l(:text_vendor_management_info) %></p>
<% end %>
