<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'purchase_requests', plugin: 'redmine_purchase_requests' %>
  <%= stylesheet_link_tag 'capex', plugin: 'redmine_purchase_requests' %>
  <%= javascript_include_tag 'purchase_requests', plugin: 'redmine_purchase_requests' %>
  <%= javascript_include_tag 'capex', plugin: 'redmine_purchase_requests' %>
<% end %>

<%# filepath: /opt/redmine/plugins/redmine_purchase_requests/app/views/capex/new.html.erb %>
<% html_title "New CAPEX Entry - #{@project.name}" %>

<div class="contextual">
  <%= link_to project_capex_index_path(@project), class: 'pr-button pr-button-cancel pr-button-icon small' do %>
    <span class="icon icon-cancel">Back to CAPEX List</span> 
  <% end %>
</div>

<h2>New CAPEX Entry</h2>

<div class="pr-form-container">
  <div class="pr-form-instructions">
    <div class="pr-alert pr-alert-info">
      <span class="icon icon-info"></span>
      <div class="pr-alert-content">
        <h4>Create New CAPEX Entry</h4>
        <p>Fill in the details below to create a new CAPEX budget entry. Quarterly amounts must sum to the total amount.</p>
      </div>
    </div>
  </div>

  <%= render 'form' %>
</div>
